name: Run tests

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        source: ["general", "spark", "gateway-over-duckdb", "gateway-over-datafusion"]
        python: ["3.10"]
        architecture: ["x64"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install packages and test dependencies
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: spark-substrait-gateway-env
          environment-file: environment.yml
          python-version: ${{ matrix.python }}
          auto-activate-base: false
      - name: Build
        shell: bash -el {0}
        run: |
          pip install -e .
      - name: Run tests
        shell: bash -el {0}
        run: |
          pytest -m ${{ matrix.source }}
